{% extends 'intranet/_index_aplicacion_generico.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-seccion"> {{ titulo }} </div>

    <form method="post" class="login-form">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="temporary_password">Contrase単a Temporal</label>
                        <input type="password" name="temporary_password" id="temporary_password"
                               class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="new_password">Nueva Contrase単a</label>
                        <input type="password" name="new_password" id="new_password"
                               class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm_password">Confirmar Nueva Contrase単a</label>
                        <input type="password" name="confirm_password" id="confirm_password"
                               class="form-control" required>
                    </div>

                    <button class="btn btn-primary mt-3 w-100">
                        Cambiar Contrase単a
                    </button>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </form>
{% endblock %}
