{% extends 'intranet/forpas/gestor/index.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Gestor
        <a href="{{ path('intranet_forpas_gestor_edicion_index') }}"><span class="mx-3 fa-solid fa-reply" title="Volver"></span></a>
    </div>

    <div class="pagina-seccion">Editar Edición</div>

    {{ include('intranet/forpas/gestor/edicion/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
