<form method="post" action="{{ path('intranet_forpas_gestor_formador_delete', {'id': formador.id}) }}"
      onsubmit="return confirm('Está seguro que desea eliminar este formador?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formador.id) }}">
    {% if buttonType == 'primary' %}
        <button class="btn btn-primary">
            <span class="fas fa-trash"></span> Eliminar
        </button>
    {% else %}
        <button type="submit" title="Eliminar" style="border: none; background: none; padding: 0; color: rgb(156, 31, 46); cursor: pointer;">
            <span class="mx-1 fas fa-trash"></span>
        </button>
    {% endif %}
</form>
