{% extends 'intranet/forpas/participante/index.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Participante</div>

    <div class="pagina-seccion">{{ titulo }}</div>

    {{ include('intranet/forpas/participante/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
