{% extends 'intranet/forpas/participante/index.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Participante
        <a href="#" onclick="window.location.href='{{ path('intranet_forpas_participante') }}';">
            <span class="mx-3 fa-solid fa-reply" title="Volver"></span>
        </a>
    </div>

    <div class="pagina-seccion">{{ titulo }}</div>

    {{ include('intranet/forpas/participante/_form.html.twig', {'button_label': 'Actualizar'}) }}
{% endblock %}
