{% extends '/intranet/forpas/index.html.twig' %}
{% block migas %}
    <li class="breadcrumb-item"><a href="{{ path('intranet_forpas') }}"><i class="fas fa-home"></i> Servicio de Formación</a></li>
    <li class="breadcrumb-item active" aria-current="page">Portal del Participante</li>
{% endblock %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
    <div class="pagina-titulo">Portal del Participante</div>

    <div class="pagina-seccion">{{ titulo }}</div>
    <ul>
        <li><a href="{{ path('intranet_forpas_participante_mis_datos', {'id': app.user.participante.id}) }}">Mis datos de contacto</a></li>
    </ul>
{% endblock %}
