{% extends 'intranet/forpas/gestor/index.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <div class="pagina-titulo">Portal del Gestor
        <a href="{{ path('intranet_forpas_gestor_curso_index') }}"><span class="mx-3 fa-solid fa-reply" title="Volver"></span></a>
    </div>

    <div class="pagina-seccion">Crear Nuevo Curso</div>

    {{ include('intranet/forpas/gestor/curso/_form.html.twig') }}

{% endblock %}
